$color-white: #ffffff;
$color-black: #000000;
$color-grey: #907e82;
$color-light-pink: #fff5f6;
$color-pink: #ffa5ba;
$color-pink-secondary: #ffa5ca;
$color-pink-menu: #e17992;
$color-red: #d41443;
$color-hover: #ecebeb;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
