<section class="section section--about" id="about">
  <div class="container container--about">
    <div class="naming">
      <p class="naming__label">tradition and love</p>
      <h2 class="naming__title">how it’s made?</h2>
    </div>
    <div class="about">
      <picture>
        <source
          srcset="
            ./images/about/cow-milk-501.png  1x,
            ./images/about/cow-milk-1002.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/about/cow-milk-336.png 1x,
            ./images/about/cow-milk-672.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about/cow-milk-280.png 1x,
            ./images/about/cow-milk-560.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about__img"
          src="./images/about/cow-milk-280.png"
          alt="Cow with milk"
        />
      </picture>
      <div class="about__description">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__secondary-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="button" type="button" data-about-modal-open>
          Read more
          <svg class="button__icon" width="8" height="16">
            <use href="./images/header/icon.svg#icon-vectorright"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="about-modal is-hidden" data-about-modal>
    <div class="about-modal__box">
      <p class="about-modal__label">icecream technology</p>
      <p class="about-modal__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero omnis
        ex ea sint tempora temporibus aliquid eos eveniet porro, exercitationem
        necessitatibus eum, suscipit aut autem? Sapiente explicabo dolorum
        ducimus at.
      </p>

      <button
        class="about-modal__close-button"
        type="button"
        data-about-modal-close
      >
        <svg class="about-modal__close-icon" width="14" height="14">
          <use href="/src/images/header/icon.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
