<section class="section--advantages">
  <div class="container">
    <div class="advantages">
      <!-- скрити h2 -->
      <h2 class="advantages__title visually-hidden">advantages</h2>
      <ul class="advantages__list">
        <li class="advantages__item">
          <div class="advantages__wrap advantages__wrap--one">
            <h3 class="advantages__description">721</h3>
            <p class="advantages__text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </div>
        </li>
        <li class="advantages__item">
          <div class="advantages__wrap advantages__wrap--second">
            <h3 class="advantages__description">16kg</h3>
            <p class="advantages__text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </div>
        </li>
        <li class="advantages__item">
          <div class="advantages__wrap advantages__wrap--third">
            <h3 class="advantages__description">84</h3>
            <p class="advantages__text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
