<section class="section section__advantages">
	<div class="container">
		<div class="advantages">
			<!-- скрити h2 -->
		<h2 class="advantages__title">advantages</h2>
		<ul class="advantages__block">
			<li class="advantages__item">
				<h3 class="advantages__category">721</h3>
				<p class="advantages__">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages__item">
				<h3 class="advantages__category">16kg</h3>
				<p class="advantages__">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages__item">
				<h3 class="advantages__category">84</h3>
				<p class="advantages__">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
		</ul>
		</div>
	</div>
</section>
