<section class="section--advantages" id="advantages">
  <div class="container advantages">
    <!-- скрити h2 -->
    <h2 class="advantages__title visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__wrap--one">
        <p class="advantages__feature animate__animated animate__pulse animate__delay-2s">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__wrap--second">
        <p class="advantages__feature animate__animated animate__pulse animate__delay-2s">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__wrap--third">
        <p class="advantages__feature animate__animated animate__pulse animate__delay-2s">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
