<section class="section section-contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul id="contact" class="section-contacts__list">
      <li class="section-contacts__item">
        <p class="section-contacts__hero section-contacts__hero--yellow">cafe</p>
          <h3 class="section-contacts__title" >Chicago</h3>
          <p class="section-contacts__text" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="working-hours"> 
          <p class="working-hours__text" >Monday - Friday</p>
          <p class="working-hours__time" >06:00 AM - 10:00 PM</p>
          <p class="working-hours__text" >Saturday - Sunday</p>
          <p class="working-hours__time" >08:00 AM - 16:00 PM</p>
        </div>
          <a class="section-contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="section-contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="section-contacts__item">
        <p class="section-contacts__hero section-contacts__hero--green">foodtruck</p>
          <h3 class="section-contacts__title" >Los Angeles</h3>
          <p class="section-contacts__text" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="working-hours">
          <p class="working-hours__text" >Monday - Friday</p>
          <p class="working-hours__time" >06:00 AM - 10:00 PM</p>
          <p class="working-hours__text" >Saturday - Sunday</p>
          <p class="working-hours__time" >08:00 AM - 16:00 PM</p>
        </div>
          <a class="section-contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="section-contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      </li>
      <li class="section-contacts__item">
        <p class="section-contacts__hero section-contacts__hero--yellow">cafe</p>
          <h3 class="section-contacts__title" >New York</h3>
          <p class="section-contacts__text" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="working-hours">
          <p class="working-hours__text" >Monday - Friday</p>
          <p class="working-hours__time" >06:00 AM - 10:00 PM</p>
          <p class="working-hours__text" >Saturday - Sunday</p>
          <p class="working-hours__time" >08:00 AM - 16:00 PM</p>
        </div>
          <a class="section-contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="section-contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      </li>
    </ul>
    <div class="section-contacts__buttons">
      <button class="section-contacts__button" >Our Locations ></button>
      <button class="section-contacts__button" >Franchise ></button>
    </div>
  </div>
</section>
