<section class=" section customer-reviews">
    <div class="container">
      <h2 class="visually-hidden">customer-reviews</h2>
        <div class="multiple-items">
            <article class="customer-reviews__block">
                <picture class="customer-reviews__picture">
                    <source srcset="
                    ./images/customer-reviews/emily.webp 1x,
                    ./images/customer-reviews/emily@2x.webp 2x" type="image/webp" />
                    <source srcset="
                     ./images/customer-reviews/emily.png 1x,
                     ./images/customer-reviews/emily@2x.png 2x"/>
                    <img class="customer-reviews__foto" src="./images/customer-reviews/emily.png" alt="girl-customers"  width="85" />
                  </picture>  
                  <div class="customer-reviews__container">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                  </div>            
                 <h3 class="customer-reviews__subtitle">Emily, Los Angeles</h3>
            </article>
            <article class="customer-reviews__block">
                <picture class="customer-reviews__picture">
                    <source srcset="
                    ./images/customer-reviews/mona.webp 1x,
                    ./images/customer-reviews/mona@2x.webp 2x" type="image/webp"/>
                    <source srcset="
                     ./images/customer-reviews/mona.png 1x,
                     ./images/customer-reviews/mona@2x.png 2x"/>
                    <img class="customer-reviews__foto"  src="./images/customer-reviews/mona.png" alt="girl-customers"  width="85" />
                  </picture>
                  <div class="customer-reviews__container">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                  </div>  

                 <h3 class="customer-reviews__subtitle">Mona, Chicago</h3>
            </article>
            <article class="customer-reviews__block">
                <picture class="customer-reviews__picture">
                    <source srcset="
                    ./images/customer-reviews/jane.webp 1x,
                    ./images/customer-reviews/jane@2x.webp 2x" type="image/webp"/>
                    <source srcset="
                     ./images/customer-reviews/jane.png 1x,
                     ./images/customer-reviews/jane@2x.png 2x"/>
                    <img class="customer-reviews__foto"  src="./images/customer-reviews/jane.png" alt="girl-customers"  width="85" />
                  </picture>
                  <div class="customer-reviews__container">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                  </div>  
                 <h3 class="customer-reviews__subtitle">Jane, New York</h3>
            </article>
          </div>

    </div>
</section>

