<section class="container section footer footer__style">
<div class="footer__items">
    <p class="footer__title-1">homemade ice cream made <br><span class="footer__title-2">with passion</span></p>
    <div class="footer__contacts">
        <ul class="footer__social">
        <li class="footer__social-item">
            <a href="#" target="_blank" rel="noreferrer noopener" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
                <use href="./images/SVG/symbol-defs.svg#icon-github"></use>
            </svg>
            </a>
            </li>
        <li class="footer__social-item">
            <a href="#" target="_blank" rel="noreferrer noopener" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
                <use href="./images/SVG/symbol-defs.svg#icon-telegram"></use>
            </svg>
            </a>
        </li>
        <li class="footer__social-item">
            <a href="#" target="_blank" rel="noreferrer noopener" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
                <use href="./images/SVG/symbol-defs.svg#icon-facebook"></use>
            </svg>
            </a>
        </li>
        </ul>

        <address class="footer__tel">Feel free to contact <a href="tel:+610383766284" class="footer__tel-color">+61 (0) 383 766 284</a></address>
    </div>
</div>
<div class="footer__policy">
    <p class="footer__policy-1">&copy; 2022 - IceCream.</p>
    <p class="footer__policy-2">All Rights Reserved.</p>
</div>
</section>