<div class="footer footer__style">

<div class="container footer__items">
    <p class="footer__title-1">homemade ice cream made <span class="footer__title-2">with passion</span></p>
    <address class="footer__contacts">
        <ul class="footer__social">
        <li class="footer__social-item">
            <a href="#" target="_blank" rel="noreferrer noopener" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
                <use href="./images/SVG/symbol-defs.svg#icon-github"></use>
            </svg>
            </a>
            </li>
        <li class="footer__social-item">
            <a href="#" target="_blank" rel="noreferrer noopener" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
                <use href="./images/SVG/symbol-defs.svg#icon-telegram"></use>
            </svg>
            </a>
        </li>
        <li class="footer__social-item">
            <a href="#" target="_blank" rel="noreferrer noopener" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
                <use href="./images/SVG/symbol-defs.svg#icon-facebook"></use>
            </svg>
            </a>
        </li>
        </ul>

        <p class="footer__tel"> Feel free to contact <a href="tel:+610383766284" class="footer__tel-color">+61 (0) 383 766 284</a></p>
    </address>
</div>

<div class="footer__policy">
    <p class="footer__policy-text">&copy; 2022 - IceCream. All Rights Reserved.</p>
</div>

</div>