<section class="section section--gallery" id="gallery">
  <div class="container container--gallery">
    <h2 class="visually-hidden">gallery</h2>
    <ul class="images">
      <li class="images__item images__item--first">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-1.png    1x,
              ./images/gallery/desktop/img-1@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-1.png    1x,
              ./images/gallery/tablet/img-1@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-1.png    1x,
              ./images/gallery/mobile/img-1@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-1.png"
            alt="Cow with milk"
          />
        </picture>
      </li>
      <li class="images__item images__item--second">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-2.png    1x,
              ./images/gallery/desktop/img-2@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-2.png    1x,
              ./images/gallery/tablet/img-2@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-2.png    1x,
              ./images/gallery/mobile/img-2@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-2.png"
            alt="Cow with milk"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-3.png    1x,
              ./images/gallery/desktop/img-3@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-3.png    1x,
              ./images/gallery/tablet/img-3@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-3.png    1x,
              ./images/gallery/mobile/img-3@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-3.png"
            alt="Cow with milk"
          />
        </picture>
      </li>
      <li class="images__item images__item--third">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-4.png    1x,
              ./images/gallery/desktop/img-4@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-4.png    1x,
              ./images/gallery/tablet/img-4@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-4.png    1x,
              ./images/gallery/mobile/img-4@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-4.png"
            alt="Cow with milk"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-5.png    1x,
              ./images/gallery/desktop/img-5@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-5.png    1x,
              ./images/gallery/tablet/img-5@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-5.png    1x,
              ./images/gallery/mobile/img-5@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-5.png"
            alt="Cow with milk"
          />
        </picture>
      </li>
      <li class="images__item images__item--fourth">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-6.png    1x,
              ./images/gallery/desktop/img-6@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-6.png    1x,
              ./images/gallery/tablet/img-6@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-6.png    1x,
              ./images/gallery/mobile/img-6@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-6.png"
            alt="Cow with milk"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-7.png    1x,
              ./images/gallery/desktop/img-7@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-7.png    1x,
              ./images/gallery/tablet/img-7@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-7.png    1x,
              ./images/gallery/mobile/img-7@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-7.png"
            alt="Cow with milk"
          />
        </picture>
      </li>
      <li class="images__item images__item--fifth">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-8.png    1x,
              ./images/gallery/desktop/img-8@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-8.png    1x,
              ./images/gallery/tablet/img-8@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-8.png    1x,
              ./images/gallery/mobile/img-8@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-8.png"
            alt="Cow with milk"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-9.png    1x,
              ./images/gallery/desktop/img-9@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-9.png    1x,
              ./images/gallery/tablet/img-9@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-9.png    1x,
              ./images/gallery/mobile/img-9@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-9.png"
            alt="Cow with milk"
          />
        </picture>
      </li>
      <li class="images__item images__item--sixth">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/img-10.png    1x,
              ./images/gallery/desktop/img-10@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img-10.png    1x,
              ./images/gallery/tablet/img-10@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/img-10.png    1x,
              ./images/gallery/mobile/img-10@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="images__img"
            src="./images/gallery/mobile/img-10.png"
            alt="Cow with milk"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
