<section class="section section--gallery" id="gallery">
  <ul class="images">
    <li class="images__item images__item--first">
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
    </li>
    <li class="images__item images__item--second">
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
    </li>
    <li class="images__item images__item--third">
      <img
        class="images__img images__img--large"
        src="./images/gallery/home-pic1.jpg"
        alt=""
      />
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
    </li>
    <li class="images__item images__item--fourth">
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
    </li>
    <li class="images__item images__item-fifth">
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
    </li>
    <li class="images__item images__item--sixth">
      <img class="images__img" src="./images/gallery/home-pic1.jpg" alt="" />
    </li>
  </ul>
</section>
