<h1>hero-header</h1>
  <header class="header">
      <div class="container header-flex">
       

        <!-- MOBILE MENU -->

        <button
          class="header__burger js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
         
        </button>

        <div class="header__mobile js-menu-container" id="mobile-menu">
          <button class="header__close js-close-menu" type="button">
           
          </button>
          <button class="header__mobile-button" type="button">
            Buy now
            
          </button>
          <nav class="header__mobile-nav">
            <ul class="header__mobile-list">
              <li class="header__mobile-list">
                <a class="header__mobile-link" href="#">Home</a>
              </li>
              <li class="header__mobile-list">
                <a class="header__mobile-link" href="#about">About us</a>
              </li>
              <li class="header__mobile-list">
                <a class="header__mobile-link" href="#advantages"
                  >How it’s made?</a