<section class="hero" id="hero">
  <div class="container hero-bg">
    <!-- HERO -->
    <div class="hero__main-container">
      <div class="hero__title-container">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title-big">passion</span>
        </h1>
        <div class="hero__link-container">
          <a class="hero__button-product" href="#products"> Products </a>
          <a class="hero__button-made" href="#advantages"> How it’s made? </a>
        </div>
      </div>
      <div class="hero-subtitle-container">
        <div class="hero-svg-container">
          <h2 class="hero__subtitle">16</h2>
          <p class="hero__subtitle-text">cafes</p>
          <svg class="hero__elipse-icon" width="16" height="16">
            <use href="/src/images/header/icon.svg#icon-elipsesmall"></use>
          </svg>
        </div>

        <div class="hero-svg-container">
          <h2 class="hero__subtitle">23</h2>
          <p class="hero__subtitle-text">food trucks</p>
          <svg class="hero__elipse-icon" width="16" height="16">
            <use href="/src/images/header/icon.svg#icon-elipsesmall"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="hero-text-container">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>

      <button class="hero__button-arrow" type="button">
        <picture>
          <source
            srcset="
              /src/images/hero/arrow-right1200.png    1x,
              /src/images/hero/arrow-right1200@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/hero/arrow-right768.png    1x,
              /src/images/hero/arrow-right768@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="button__arrow-right animate__animated animate__flip animate__delay-2s"
            src="/src/images/hero/arrow-right768.png"
            alt="Cow with milk"
            loading="lazy"
          />
        </picture>
      </button>
    </div>

    <picture>
      <source
        srcset="
          /src/images/hero/milk1200.png    1x,
          /src/images/hero/milk1200@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /src/images/hero/milk768.png    1x,
          /src/images/hero/milk768@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="hero__img-milk animate__animated animate__bounce animate__delay-2s animate__repeat-2"
        src="/src/images/hero/milk768.png"
        alt="Cow with milk"
        loading="lazy"
      />
    </picture>

    <div class="hero-wrapper">
      <picture>
        <source
          srcset="
            /src/images/hero/icemain1200.png    1x,
            /src/images/hero/icemain1200@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/hero/icemain768.png    1x,
            /src/images/hero/icemain768@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/hero/icemain320.png    1x,
            /src/images/hero/icemain320@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero__icecream-main animate__animated animate__tada animate__delay-2s animate__repeat-1"
          src="/src/images/hero/icemain320.png"
          alt="Cow with milk"
          loading="lazy"
        />
      </picture>

      <picture>
        <source
          srcset="
            /src/images/hero/ellipse1200.png    1x,
            /src/images/hero/ellipse1200@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/hero/ellipse768.png    1x,
            /src/images/hero/ellipse768@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/hero/ellipse320.png    1x,
            /src/images/hero/ellipse320@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero__ellipse-main animate__animated animate__fadeInTopRight animate__delay-2s"
          src="/src/images/hero/ellipse320.png"
          alt="Cow with milk"
          loading="lazy"
        />
      </picture>
    </div>

    <picture>
      <source
        srcset="
          /src/images/hero/tasty1200.png    1x,
          /src/images/hero/tasty1200@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /src/images/hero/tasty768.png    1x,
          /src/images/hero/tasty768@2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <img
        class="hero__img-tastygirl animate__animated animate__heartBeat animate__repeat-2 animate__delay-2s"
        src="/src/images/hero/tasty768.png"
        alt="Cow with milk"
        loading="lazy"
      />
    </picture>
  </div>
</section>
