<section class="section products">
  <div class="container">
    <div class="naming products-name">
      <p class="naming__label">100% natural</p>
      <h1 class="naming__title">products</h1>
    </div>
    <ul class="products-card__list">
      <li class="products-card__item pink">
        <h2 class="products-card__title">ice cream</h2>
        <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et</p>
        <button class="products-card__btn"></button>
      </li>
      <li class="products-card__item yellow">
        <h2 class="products-card__title">ice coffee</h2>
        <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et</p>
        <button class="products-card__btn"></button>
      </li>
      <li class="products-card__item green">
        <h2 class="products-card__title">milkshakes</h2>
        <p class="products-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et</p>
        <button class="products-card__btn" type="button">
          <!-- <svg class="" width="40" height="40">
            <use href="./images/products/arrow-right.svg"></use>
          </svg> -->
        </button>
      </li>
    </ul>
  </div>
</section>