.button {
    background: $color-white;
    height: 44px;
    border-radius: 22px;
    border: none;
    padding: 0 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-red;
    transition: background-color $transition;

    &__icon {
        margin-left: 14px;
        fill: currentColor;
    }

    &:hover,
    &:focus {
        background-color: $color-hover;
    }
}